
<div class="container-fluid bg-dark">

    <nav class="navbar navbar-expand-md bg-dark navbar-dark d-flex justify-content-around">
      <a class="navbar-brand" href="#">CodeQuotient</a>

    <div>
      <span class=" text-white"><%= email %></span>
    </div>
  </nav>

</div>
